*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@font-face {
  font-family: "Gotham-Regular";
  src: url("../fonts/GothamMedium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Droid Sarif";
  src: url("../fonts/DroidSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Modak-Regular";
  src: url("../fonts/Modak-Regular.ttf");
  font-weight: 700;
  font-style: normal;
}
body {
  overflow-x: hidden;
  line-height: inherit;
}
p {
  color: #3e4148;
  font-family: "Open Sans", sans-serif;
}
.font-20 {
  font-size: 20px;
  line-height: 32px;
  margin: 20px 0;
}
body,
html {
  height: 100%;
  scroll-behavior: smooth;
}
._rel {
  position: relative;
}

a {
  display: inline-block;
  text-decoration: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  color: #000;
  position: relative;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  font-family: "Open Sans", sans-serif;
}
/* h1 {
  font-family: "Open Sans", sans-serif;
}
h2 {
  font-family: "Open Sans", sans-serif;
}
h3 {
  font-family: "Open Sans", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}
li {
  font-family: "Open Sans", sans-serif;
}
a {
  font-family: "Open Sans", sans-serif;
} */
.f-800 {
  font-weight: 800;
}
.header-mini {
  background-color: #002240;
  /* padding: 5px 0; */
}

.container {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

.row {
  /*
    --bs-gutter-x: 1.5rem;
    */
  --bs-gutter-y: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.header-social-links {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-social-links ul {
  list-style: none;
  display: inline-flex;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 100%;
  align-items: center;
}

.header-social-links ul li {
  margin: 0 7px;
}

.header-social-links ul li i {
  color: #fff;
}

.contacts-header-info {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  /* padding: 10px 0; */
}

.contacts-header-info li {
  color: #fff;
  border-left: 1px solid #fff;
  padding: 10px;
  display: flex;
  align-items: center;
}
.contacts-header-info i {
  color: #fff;
  margin-right: 8px;
}

.header-main {
  padding: 20px 0;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand {
  /* padding-top: 0.3125rem;
  padding-bottom: 0.3125rem; */
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}

img {
  max-width: 140px;
  height: auto;
}

.navbar-collapse {
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar .navbar-nav li {
  margin: 0 15px;
}

.navbar .navbar-nav .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #3e4148;
  font-family: "Open Sans", sans-serif;
}

.nav-link:after {
  content: "";
  width: 1%;
  height: 2px;
  background: transparent;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: all 0.5s ease;
}
.nav-item.active .nav-link:after,
.nav-link:hover:after {
  /* background: linear-gradient( 97.76deg, #ff6242 0.49%, #df655a 79.11%, #ffa722 126.07% ); */
  background: rgba(242, 213, 37, 1);
  width: 100%;
  height: 2px;
}
/* header end*/
section {
  width: 100%;
  padding: 24px 0;
  position: relative;
  clear: both;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bannersection {
  background: url(img/gallery3.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 0px;
  position: relative;
  z-index: 1;
  min-height: 650px;
  display: flex;
  align-items: end;
  /* justify-content: space-evenly; */
}
#carouselExampleControls {
  position: relative;
  z-index: 3;
  width: 100%;
}
.carousel-inner {
  min-height: 500px px;
  display: flex;
  align-items: center;
}

.page-title {
  position: absolute;
  bottom: -65px;
  right: 10%;
  z-index: 99;
}
.page-title h2 {
  -webkit-text-stroke: 1px rgba(242, 213, 37, 1);
  color: transparent;
}
.main-title {
  font-size: 64px;
  font-weight: 800;
}
h1,
h2,
h3,
h4,
h5,
h6,
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.banner-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: auto;
}
.banner-content .main-heading {
  font-size: 64px;
  font-weight: 800;
}
.banner-content h1 {
  color: #fff;
}
.banner-content p {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.37em;
  color: #ffffff;
  margin-top: 20px;
  padding: 10px 0px 10px 70px;
  position: relative;
  margin-bottom: 0px;
}

.tech-works-images img {
  max-width: 350px;
}
img {
  height: auto;
}
.tech-2img {
  margin-left: 60px;
  margin-top: -200px;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}
.technical-works-content h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  position: relative;
}
.technical-works-content h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
}
.font-20 {
  font-size: 20px;
  line-height: 32px;
  margin: 20px 0;
}

.about-shape {
  max-width: -webkit-fill-available;
}
.text-center {
  text-align: center !important;
}
.section-main-heading {
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
}

.our-service-heading {
  font-size: 42px;
  max-width: 600px;
  margin: 20px auto;
  font-weight: bold;
}
.our-services-boxs {
  display: flex;
  justify-content: space-evenly;
}
.services-box {
  line-height: 24px;
  padding: 0 10px;
  font-size: 18px;
  border: 2px solid #f2d525;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.services-box h3 {
  font-size: 16 px;
  font-weight: 600;
}
.services-box .services-icon {
  min-height: 100px;
}
.mission-img-wrapp img {
  /* position: absolute; */
  /* width: 45%;
  right: 0;
  top: 40px; */
  object-fit: contain;
  object-position: center;
}

.our-mission-wrapp {
  display: flex;
  padding: 10px;
}

.vision-mission {
  width: 50%;
}
.img-copy {
  max-width: 100%;
}
/* .section-main-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
} */
.mission-pera {
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
  line-height: 40px;
  position: relative;
  padding-right: 10px;
}
.theme-btn {
  width: 160px;
  height: 50px;
  line-height: 48px;
  background: #f2d525;
  border-radius: 60px;
  text-align: center;
  color: #000;
  font-weight: 400;
  font-size: 20px;
  transition: all ease-in 0.5s;
  border: 1px solid #f2d525;
  display: inline-block;
}
.theme-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.safety-programs {
  background-color: #002240;
}
.safety-programs-wrapp h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 20px;
}
.safety-programs h2,
.safety-programs p {
  color: #fff;
}
.safety-programs-wrapp p {
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  padding-right: 100px;
  margin-bottom: 30px;
}
.programs-points {
  position: relative;
}
.programs-points ul {
  margin-bottom: 30px;
  list-style: none;
}

.programs-points ul li {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  margin: 7px 0;
}
.section-title h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  color: #000000;
  margin-bottom: 60px;
}
.testimonial-box {
  text-align: center;
}
.testimonial-box img {
  margin-bottom: 20px;
}
.testimonial-mem-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
.testimonial-content p {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  max-width: 220px;
  margin: 10px auto;
  color: #3e4148;
}
.row1 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  justify-content: space-evenly;
}
.contact-bg {
  background-color: #f2d525;
  padding: 70px 0;
  position: relative;
}

.contact-bg .row > div {
  width: 600px;
}

.contact-form {
  position: relative;
  z-index: 2;
}
.inputs-fields-wrapp {
  display: flex;
  justify-content: space-evenly;
}
.inputs-fields-wrapp input {
  width: 100%;
  height: 60px;
  background: #002240;
  padding: 20px;
  color: white;
}

.inputs-fields-wrapp input:nth-child(odd) {
  margin-right: 4px;
}

.inputs-fields-wrapp input:nth-child(even) {
  margin-left: 4px;
}

.inputs-wrapp textarea {
  background: #002240;
  padding: 20px;
  color: white;
  width: 100%;
  margin-top: 10px;
}
.lets-connect {
  text-align: center;
}
.lets-connect #submit {
  text-transform: uppercase;
  background: #002240;
  border-radius: 4px !important;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
}
.footer-main {
  padding-top: 100px;
  padding-bottom: 60px;
}
.footer-main p {
  color: #000;
  padding-right: 50px;
  font-weight: 300;
}

.footer-menu {
  display: flex;
  justify-content: center;
}
.footer-menu h2 {
  color: #002240;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  margin-bottom: 40px;
}
.footer-links ul {
  list-style: none;
  padding: 0px;
}
.footer-logo {
  max-width: 140px;
  height: auto;
}
.footer-links ul li {
  margin: 10px 0;
}
.footer-links ul li a {
  color: #000;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  transition: all ease-in-out 0.5s;
}
.footer-form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  max-width: 320px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 10px; */
  margin-bottom: 50px;
}
.footer-form input {
  background-color: rgba(242, 213, 37, 1);
  border: none;
  color: #000;
  border-radius: 30px;
  padding: 10px 25px;
}

.button-subscribe {
  background-color: rgba(242, 213, 37, 1);
  border: none;
  color: #000;
  border-radius: 30px;
  padding: 10px 25px;
}
.footer-mini {
  padding: 15px 0;
  background: #002240;
}
.all-rights {
  font-weight: 300;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.05em;
  color: #3e4148;
}
.footer-mini p {
  margin: 0;
  color: #fff;
}
